<!DOCTYPE html>
<html>
  <head>
    <title>RailsAwesomeGarage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

 <body>
    <header class="navbar">
      <div class="navbar-left">
        <%= image_tag("logo.png", alt: "Logo", class: "logo-image") %>
        <span class="site-title">Awesome Garage</span>
      </div>
      <nav class="navbar-right">
        <%= link_to "Home", root_path, class: "nav-link" %>
        <%= link_to "My Garage", favourites_path, class: "nav-link" %>
      </nav>
    </header>

    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
